@model PEA.Models.Title
@{
    ViewData["Title"] = "Asignar título";
}
<h2>Nuevo título</h2>


<form method="post" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Nombre del título</label>
        <input asp-for="TitleName" class="form-control" />
        <span asp-validation-for="TitleName" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label class="form-label">Desde</label>
        <input asp-for="FromDate" type="date" class="form-control" />
        <span asp-validation-for="FromDate" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label class="form-label">Hasta</label>
        <input asp-for="ToDate" type="date" class="form-control" />
        <span asp-validation-for="ToDate" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="EmpNo" />

 
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-secondary" href="@Url.Action("Index", "Titles")">Cancelar</a>
    </div>
</form>


<partial name="_ValidationScriptsPartial" />