@{
    ViewData["Title"] = "Inicio";
}
<div class="p-4 bg-light rounded-3">
    <h1 class="display-6">Sistema de Nómina: PEA</h1>
    <p class="lead">Base de datos: <strong>PAE</strong>.</p>
    <p>Use el menú para navegar por módulos.</p>
</div>